h1, h2, h3, h4, p {
    color: white;
}

body {
    background-color: rgb(45, 45, 45);
}

#signup input {
    display: block;
    margin: 10px;
}

label {
    color: white;
}

.alert-success {
    color: green;
}

.alert-danger {
    color: red;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

form input, textarea, button {
    display: block;
    margin: 10px 10px;
}

#login input, button {
    display: inline;
}

#logout, button, input[type="submit"] {
    background-color: #dc3545; /* Example red color */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #dc3545;
}

#channel_title{
    color: rgb(193, 0, 0);
    display: inline;
    font-weight: bold;
}

#options a, p{
    display: inline;
}

#main-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

#display-half {
    padding-left: 50px;
    padding-top: 20%;
    margin: auto;
    height: 100vh;
    border-left: 1px solid whitesmoke;
    
    
}

#setup-half, #display-half {
    display: inline-block;
    align-items: center;
}

#profile-pic {
    height: 30px;
    width: 30px;
}

#head-container {
    display: flex;
    align-items: center;
}